<div class="user-details w-full h-full">
  <ul class="list bg-indigo-950 rounded-box shadow-md m-1!">
    <div class="divider"></div>
    <li class="text-center">
      <span class="font-semibold text-xl">Detalhes do usuário:</span>
    </li>
    <div class="divider"></div>
    <li class="px-2!">
      <span class="text-lg">Nome: </span> <span class="text-base">Fulano</span>
    </li>
    <div class="divider"></div>
    <li class="px-2!">
      <span class="text-lg">E-mail: </span> <span class="text-base">fulano</span>
    </li>
    <div class="divider"></div>
    <li class="px-2!">
      <span class="text-lg">Telefone: </span> <span class="text-base">84996288223</span>
    </li>
    <div class="divider"></div>
    <li class="px-2!">
      <span class="text-lg">Endereço: </span> <span class="text-base">Rua xxxx, 42, São Paulo - SP</span>
    </li>
    <div class="divider"></div>
    <li class="px-2!">
      <span class="text-lg">Ativo: </span> <span class="text-base">Sim</span>
    </li>
    <div class="divider"></div>
    <li class="px-2!">
      <span class="text-lg">Função: </span> <span class="text-base">Desenvolvedor</span>
    </li>
    <div class="divider"></div>
    <li class="px-2!">
      <span class="text-lg">Data de cadastro: </span> <span class="text-base">04/05/2025</span>
    </li>
    <div class="divider"></div>
  </ul>
</div>
